{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
  <div style="padding-top:50px; text-align:center;">
    <h1>Jaime Robles</h1>
    <p class="lead">Python programer | Big Data | Backend Developer</p>
  </div>
  <div class="row">
    <p class="text-center">Hey soy Jaime Robles Del Pino, apasionado por las ciencias de la computacion,
    actualmente me dedico 100% a desarrollar con python, a veces con Java, veo temas como big data (ingesta de data),
      servicios web, scripting para sistemas operativos unix, tambien complemento estos servicios web con
    tecnologias de lado fronted como Jquery, Angular2, React.</p>
    <div class="mx-auto">
      <a href="#"><i class="fab fa-linkedin-in fa-2x fa-border"></i></a>
      <a href="#"><i class="fab fa-twitter fa-2x fa-border"></i></a></a>
      <a href="#"><i class="fab fa-pinterest-p fa-2x fa-border"></i></a>
      <a href="#"><i class="fab fa-facebook fa-2x fa-border"></i></a>
    </div>
  </div>
</div>
{% endblock %}